<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <!-- <img src="content/img/logo.png"> -->
    <div class="pull-left image">
      <img src="content/img/avatar2.png" width="34px;">
    </div>
    <div class="pull-left info">
      <p>Administrator</p>

      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="active">
      <a href="#/dashboard">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="treeview" ng-class="{'active':chart.isTree}" data-ng-controller="SideNav as chart">
      <a href ng-click="chart.toggleTree($event)">
        <i class="fa fa-edit"></i>
        <span>Blog</span>
        <i class="pull-right fa" ng-class="{'fa-angle-down': chart.isTree, 'fa-angle-left':!chart.isTree}"></i>
      </a>
      <ul class="treeview-menu" ng-style="chart.style">
        <li>
          <a href="#/blog/post" style="margin-left: 10px;">
            <i class="fa fa-edit"></i> Post
          </a>
        </li>
        <li>
          <a href="#/blog/post" style="margin-left: 10px;">
            <i class="fa fa-comments"></i> Comment
          </a>
        </li>
        <li>
          <a href="#/blog/category" style="margin-left: 10px;">
            <i class="fa fa-th-large"></i> Category
          </a>
        </li>
        <li>
          <a href="#/blog/tag" style="margin-left: 10px;">
            <i class="fa fa-tags"></i> Tags
          </a>
        </li>
      </ul>
    </li>

    <li class="treeview" ng-class="{'active':chart.isTree}" data-ng-controller="SideNav as media">
      <a href ng-click="media.toggleTree($event)">
        <i class="glyphicon glyphicon-picture"></i>
        <span>Media</span>
        <i class="pull-right fa" ng-class="{'fa-angle-down': media.isTree, 'fa-angle-left':!media.isTree}"></i>
      </a>
      <ul class="treeview-menu" ng-style="media.style">
        <li>
          <a href="#/media/upload" style="margin-left: 10px;">
            <i class="fa fa-plus-square"></i> Add New
          </a>
        </li>
        <li>
          <a href="#/media/library" style="margin-left: 10px;">
            <i class="fa fa-angle-double-right"></i> Library
          </a>
        </li>
      </ul>
    </li>

    <li class="treeview" ng-class="{'active':setting.isTree}" data-ng-controller="SideNav as setting">
      <a href="#/user" ng-click="setting.toggleTree($event)">
        <i class="fa fa-edit"></i>
        <span>Users</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu" ng-style="setting.style">

        <li>
          <a href="#/user" style="margin-left: 10px;">
            <i class="fa fa-angle-double-right"></i> All User
          </a>
        </li>

        <li>
          <a href="#/profile" style="margin-left: 10px;">
            <i class="fa fa-angle-double-right"></i> My Profile
          </a>
        </li>

      </ul>
    </li>


    <li class="treeview" ng-class="{'active':setting.isTree}" data-ng-controller="SideNav as setting">
      <a href="#" ng-click="setting.toggleTree($event)">
        <i class="fa fa-edit"></i>
        <span>Settings</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu" ng-style="setting.style">
        <li>
          <a href="#/settings" style="margin-left: 10px;">
            <i class="fa fa-angle-double-right"></i> General
          </a>
        </li>
      </ul>
    </li>

  </ul>
</section>
<!-- /.sidebar -->
</aside>
