<div class="box-solid" display="block" ng-class="box.classBox" ng-style="box.styleBox" data-ng-controller="Box as box">
  <dr-box-header>
    <h3 class="box-title">Action</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-default btn-flat btn-sm" data-ng-click="box.minimize($event)">
        <i class="{{box.classIconMin}}"></i>
      </button>
    </div>
  </dr-box-header>
  <dr-box-body display="{{box.styleBody}}">
    <div>
      <label class="">
        <i class="fa fa-edit"></i>
      </label>
      &nbsp;
      <label>Status : </label>
      <label ng-show="vm.post.status == undefined">New</label>
      <label ng-show="vm.post.status != 1">Draft</label>
      <label ng-show="vm.post.status == 1">Published</label>
    </div>

    <div>
      <label class="">
        <i class="fa fa-calendar"></i>
      </label>
      &nbsp;
      <label>Created : </label>
      <label>{{vm.post.created | date:'medium':+8}}</label>
    </div>

    <div>
      <label class="">
        <i class="fa fa-calendar"></i>
      </label>
      &nbsp;
      <label>Modified : </label>
      <label>{{vm.post.modified | date:'medium':+8}}</label>
    </div>

  </dr-box-body>
  <div class="box-footer text-center">
    <span ng-show="vm.post.id == undefined">
      <button class="btn  btn-primary btn-flat" ng-click="vm.save()">
        <i class="fa fa-edit"></i> Save
      </button>
    </span>
    <span ng-show="vm.post.status == 0">
      <button class="btn  btn-primary btn-flat" ng-click="vm.update()">
        <i class="fa fa-edit"></i> Save
      </button>
    </span>
    <span ng-show="vm.post.status == 1">
      <button class="btn btn-primary btn-flat" ng-click="vm.update(0)">
        <i class="fa fa-edit"></i> Draft
      </button>
    </span>


    <button class="btn  btn-info btn-flat" ng-click="vm.publish()">
      <i class="fa fa-globe"></i> Publish
    </button>

    <button class="btn btn-warning btn-flat">
      <i class="fa fa-eye"></i> See
    </button>
  </div>
</div>
