<div class="box box-solid" display="block" ng-class="box.classBox" ng-style="box.styleBox">
  <div class="box-header">
    <h3 class="box-title">Category</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-default btn-flat btn-sm" data-ng-click="box.minimize($event)">
        <i class="{{box.classIconMin}}"></i>
      </button>
    </div>
  </div>
  <div class="box-body" style="display: block;">
    <div class="" >
      <script type="text/ng-template" id="categoryTree">
      <input type="checkbox" ng-model="vm.checkCategory[cat.id]" ng-change="vm.selectCategory(cat.id)">
      {{cat.name}}
      <ul style="list-style: none; padding-right: 5px;" ng-if="cat.children">
      <li ng-repeat="cat in cat.children" ng-include="'categoryTree'">
      </li>
      </ul>
      </script>
      <ul class="list-unstyled">
        <li ng-repeat="cat in vm.listdata.category" ng-include="'categoryTree'">
        </li>
      </ul>
      <button ng-click="vm.checkClick()" class="btn btn-flat btn-default">Check</button>
    </div>
  </div>
</div>
