
<!-- content view -->
<div class="row" data-ng-controller="PostList as vm">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body">

        <div class="box-tools" style="color: white; margin-bottom:6px;" data-ng-include="'app/post/view/tableview/boxtoolup.html'"></div>
        <div class="col-sm-12" ng-show="vm.paginator.data().length == 0">
          <br/>
          <div class="callout callout-info">
            <h4>Post Empty</h4>
            <p>
              Sorry, there are no post that has been write.<br/>
              Please Add Post from Add New Button.<br/>
            </p>
          </div>
        </div>
        <div class="clearfix" style="color: white; margin-bottom:9px;"></div>

        <div class="box-tools" data-ng-include="'app/post/view/tableview/boxtooldown.html'"></div>
        <div style="margin-bottom:9px;" data-ng-include="'app/post/view/tableview/table.html'"></div>
        <div class="box-tools" data-ng-include="'app/post/view/tableview/boxtooldown.html'"></div>
      </div>
      <!-- end box-body -->
    </div>
    <!-- end box -->
  </div>
  <!-- end col-xs-12 -->
</div>
<!-- end row -->
