<style>
.check-cell{
  width:60px;
  padding-right: 3px;
}
.name-cell {
  width: 130px;
  text-align: left;
  padding-right: 16px;
  /*background-color: #000;*/
}
.desc-cell {
  width: 260px;
  /*color: lightseagreen;*/
  text-align: left;
  padding-right: 16px;
  padding-left: 5px;
  /*background-color: #DDD;*/
}
.counter-cell{
  width: 100px;
  /*color: lightseagreen;*/
  text-align: center;
  /*background-color: #EEE;*/
}
.action-cell{
  width: 100px;
  /*color: lightseagreen;*/
  text-align: center;
  /*background-color: #E0E;*/
}
</style>

<!-- ===== template files ===== -->
  <script type="text/ng-template" id="treeHeader">
      <div>
          <span class="check-cell pull-left">
            <label>
              <input type="checkbox" class="icheckbox_minimal" ng-model="vm.master" />
            </label>
          </span>
          <span class="name-cell pull-left">Name</span>
          <span class="desc-cell pull-left">Descriptions</span>
          <span class="counter-cell pull-left">Counter</span>
          <span class="action-cell pull-right">Action</span>
      </div>
  </script>

  <script type="text/ng-template" id="treeNode">
      <div>
          <span class="check-cell pull-left text-center">
            <label ng-if="item.name != 'Uncategorized'">
              <input type="checkbox" name="child{{item.id}}" value="{{item.id}}" ng-checked="vm.master" ng-model="item.isSelected" />
            </label>
            <label ng-show="item.name == 'Uncategorized'">&nbsp;</label>
          </span>
          <span class="name-cell pull-left">{{ item.name }}</span>
          <span class="desc-cell pull-left">{{item.descriptions}}</span>
          <span class="counter-cell pull-left">{{item.counter}}</span>
          <span class="action-cell pull-right" ng-hide="item.name == 'Uncategorized'">
            <div class="btn-group btn-group-sm">
              <button class="btn btn-warning" ng-click="vm.edit(item)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger" ng-click="vm.delete(item)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </span>
      </div>
  </script>

  <!-- ===== Usage with border & header ===== -->
  <ad-tree-browser class="ad-border-default"
                   tree-name="treeDemoBordered"
                   row-ng-class="{added:item._selected}"
                   tree-root="vm.tree"
                   child-node="children"
                   children-padding="16"
                   bordered="false"
                   node-header-url="treeHeader"
                   node-template-url="treeNode">
  </ad-tree-browser>
