<a href="index.html" class="logo grey">
  <!-- Add the class icon to your logo image or logo icon to add the margining -->
  <img src="content/img/logo/g3509.png" height="34px;">
  &nbsp;LifeCode&nbsp;
  <small style="font-size: 13px;">Blog CMS</small>

</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top navbar-fixed-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a class="navbar-btn sidebar-toggle" data-ng-click="vm.toggleCanvas($event)" role="button">
    <span class="fa fa-outdent" data-ng-class="vm.toggleButton"></span>
  </a>

  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <a href="#/">
          <span>
            <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Front Site</strong>
          </span>
        </a>
      </li>
      <li>
        <a href="#/logout">
          <span>
            <i class="fa fa-power-off"></i>&nbsp;&nbsp;<strong>Log Out</strong>
          </span>
        </a>
      </li>
    </ul>
  </div>

</nav>
