.logofont{
  font-family: 'Ubuntu', sans-serif;
  font-size : 27px;
}

.black{
  color:rgb(0,0,0);
}

.grey{
  color:rgb(102,102,102);
}

.bg-grey{
  background:rgb(102,102,102);
}


.blue{
  color:rgb(20,103,204);
}

.gold{
  color:rgb(255,215,0);
}

.green{
  color:rgb(0,126,0);
}
