<div data-ng-controller="Blog as vm">

  <div data-ng-repeat="post in vm.listPost">
    <div class="blogpost">
      <div class="title">{{post.title}}</div>
      <div class="info">
        <span>
          <i class="glyphicon glyphicon-user"></i> {{post.user.username}}
        </span>
        <span>
          <i class="glyphicon glyphicon-calendar"></i> {{post.created}}
        </span>
        <span>
          <i class="glyphicon glyphicon-comment"></i> {{post.comment.length}} Comment
        </span>
      </div>
      <div class="content" ng-bind-html="post.content">
        {{post.content}}
      </div>

      <div data-ng-show="post.tag.length">
        Tags &nbsp;
        <span data-ng-repeat="tag in post.tag">
          <label class="label label-info">{{tag.name}}</label>
        </span>
      </div>
    </div>
  </div>
</div>