.ngdialog.ngdialog-theme-plain {
  padding-top: 34px;
  padding-bottom: 21px;
}


.ngdialog.ngdialog-theme-plain .ngdialog-content {
  background: #fff;
  color: #444;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 960px;
}
