<div class="pull-left" style="margin-right:6px;">
  <a href="#/blog/post/add" class="btn btn-primary btn-flat" style="color:white">
    Add New
  </a>
</div>

<!-- filter post -->
<div class="col-sm-5 pull-left" style="color:black;padding-left:0px;">
  <div class="btn-group btn-flat">
    <a href="#" class="btn btn-default btn-flat">
      All ({{vm.listdata.post.length}})
    </a>
    <a href="#" class="btn btn-default btn-flat">
      Published ({{vm.listdata.post.length}})
    </a>
    <a href="#" class="btn btn-default btn-flat">
      Draft ({{vm.listdata.post.length}})
    </a>
  </div>
</div>
<!-- end filter post -->

<!-- form search -->
<div class="col-sm-3 pull-right" style="padding-right:0px;">
  <div class="input-group input-group-sm" style="padding-right:0px;">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-primary btn-flat" type="button">Go!</button>
    </span>
  </div>
</div>
<!-- end form search -->
