<table ng-hide="vm.paginator.data().length == 0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th style="text-align: center;">
        <label>
          <input type="checkbox" class="icheckbox_minimal" data-ng-model="vm.bulkCheck" data-ng-click="vm.bulkCheckClick()" />
        </label>
      </th>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Tags</th>
      <th style="text-align:center;">
        <span class="fa fa-comments"></span>
      </th>
      <th>Date</th>
      <th style="text-align:center;">Status</th>
      <th style="text-align:center;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ps in vm.paginator.data() track by ps.id" class="repeat-item">
      <th style="text-align: center;">
        <label>
          <input type="checkbox" name="child{{ps.id}}" value="{{ps.id}}" data-ng-checked="vm.bulkCheck" data-ng-model="ps.isSelected" />
        </label>
      </th>
      <td>{{ps.title}}</td>
      <td>{{ps.user}}</td>
      <td>
          <div ng-show="ps.category.length">
            <span ng-repeat="cat in ps.category">{{cat.name}}, </span>
          </div>
          <div ng-show="!ps.category.length">
            <span>—</span>
          </div>
      </td>
      <td style="text-align:center;">
        <div ng-show="ps.tag.length">
          <span ng-repeat="tag in ps.tag">{{tag.name}}, </span>
        </div>
        <div ng-show="!ps.tag.length">
          <span>—</span>
        </div>
      </td>
      <td style="text-align:center;">{{ps.comment.length}}</td>
      <td>
        {{ps.created | date:'medium':'+8'}}
      </td>
      <td style="text-align:center;">
          <span ng-show="ps.status == 0 ">Draft</span>
          <span ng-show="ps.status != 0 ">Published</span>

      </td>
      <td style="text-align:center;">
        <div class="btn-group btn-group-sm">
          <button class="btn btn-warning" data-ng-click="vm.edit(ps)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger" data-ng-click="vm.remove(ps)">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
