
<style media="screen">
.masonry-brick {
  margin: 1em;
  display: none;
}

.masonry-brick.loaded {
  display: block;
}
</style>

<section class="content" id="content" data-ng-controller="MediaLibrary as vm">
  <!-- content view -->
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="box box-solid">
            <div class="box-body">
              <div class="row">
                <div class="col-sm-2">
                  <select class="form-control col-sm-4">
                    <option>All({{vm.count.all}})</option>
                    <option>Images({{vm.count.image}})</option>
                    <option>Audio({{vm.count.audio}})</option>
                    <option>Video({{vm.count.video}})</option>
                    <option>Other({{vm.count.other}})</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select class="form-control col-sm-4">
                    <option>All dates</option>
                    <option>November 2014</option>
                    <option>Desember 2014</option>
                    <option>January 2015</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <button name="button" class="btn btn-flat btn-default">
                    <span class="fa fa-bars"></span>
                    Filter
                  </button>
                  &nbsp;
                  <button name="button" class="btn btn-flat btn-default" data-ng-click="vm.refresh()">
                    <span class="fa fa-refresh"></span>
                    Refresh
                  </button>
                </div>
                <div class="pull-right col-sm-3">
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <div ng-hide="vm.listdata.length == 0">
          <masonry class="col-sm-12" ng-show="vm.listdata.length > 0">
            <div class="masonry-brick" ng-repeat="item in vm.listdata">
              <div class="thumbnail" style="width: 170px; border-radius:1.6px;">
                <a data-ng-click="vm.detail(item)" style="cursor: pointer;">
                  <img ng-src="{{vm.siteUrl+'/'+item.thumb_url+item.thumb_file}}" style="width:160px;">
                  <div ng-if="item.file_type!='image'">
                    <div class="media-caption">{{item.name}}</div>
                  </div>
                </a>
              </div>
            </div>
          </masonry>
        </div>

        <div class="col-sm-12" ng-show="vm.listdata.length == 0">
          <div class="callout callout-info">
            <h4>Media File Empty</h4>
            <p>
              Sorry, there are no image, video, audio or other data that has been uploaded.<br/>
              Please Upload media file from <a href="#/media/upload">Add New</a> left Side bar menu.<br/>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
